*{
    cursor: default;
}
a{
    cursor: pointer;}
/* .tab-pane{
 background-color: aquamarine;
} */
.single-project{
    box-shadow: 5px 5px 15px rgb(56 60 61 / 20%);
}
.card1 .btn{
    padding: 8px 6px;
}
.card1:hover:hover{
color:white;
font-weight: 500;
background-color: rgb(13, 168, 117);
}
